/* Generics */

*{
    background-color: #d9e3e9;
}

body{
    margin: 0;
}

.container{
    width: 100%;
    box-sizing: border-box;
}

/* Header */

#head-bar{
    background-color: #fff;
    width: 100%;
    height: 100px;
    display: flex;
}

img{
    height: 80px;
    margin: 10px;
    margin-left: 15px;
    margin-right: 0px;

}

h1{ 
   background-color: white;
   font-size: 3em;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   line-height: 50%;
}

/* Main */

#mini-box{
    margin: 0px 500px;
    margin-top: 40px;
    height: 50px;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}


.box-main{
    margin: 1.5px 500px;
    height: 650px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}