/* Generics */

body{
    margin: 0 auto;
    background-color: #d9e3e9;
}

.container{
    width: 100%;
    box-sizing: border-box;
}

/* Header */

#head-bar{
    background-color: #fff;
    width: 100%;
    height: 100px;
    display: flex;
}

img{
    height: 80px;
    margin: 10px;
    margin-left: 15px;
    margin-right: 0px;

}

h1{ 
   background-color: white;
   font-size: 3em;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   line-height: 50%;
}

/* Mini Box */

#mini-box{
    margin: 0px 500px;
    margin-top: 40px;
    height: 50px;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


/* Buttons */

.buttons{
    
}


#button1{
    text-decoration: none;
    color: white;
    background-color: #1E90FF;
    border: none;
    text-align: center;
    padding: 7px 0px;
    display: inline-block;
    font-size: 16px;
    width: 10%;
    margin: 8px 2px 8px 20px;
    border-radius: 6px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#button1:hover{
    background-color: tomato;
}

#button2{
    text-decoration: none;
    color: gray;
    background-color: white;
    border: 1px solid;
    text-align: center;
    padding: 7px 0px;
    display: inline-block;
    font-size: 16px;
    width: 10%;
    margin: 8px 0px;
    border-radius: 6px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#button2:hover{
    background-color: rgb(177, 173, 167);
    color: tomato;
}

/* Main */

.box-main{
    margin: 1.5px 500px;
    height: 690px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

h2{
    margin: 0px 0px 0px 0px;
    padding: 30px 0px 0px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    padding: 5px 5px 0px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

#check{
    color: green;
    padding: 1px 4px;
    border-radius: 500%;
    border: 1px solid green;
}

#x-symbol{

}

.label-blue{
    background-color: #45ABEA;
    color: white;
    padding: 8px;
    font-size: 0.7em;
    border-radius: 50px;
    cursor: pointer;
}